article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    margin: 0px;
}

h2#search-info, h2#page-info{
    width: 100%;
    margin-top: 210px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;

    text-align: center;
}

.post-propic{
    --dimensions: 80px;
    padding: 0px;

    height: var(--dimensions);
    width: var(--dimensions);

    border: 5px solid var(--color-dark);
    border-radius: 100%;
}

#show-posts{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post, .review{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

.post{
    margin: 30px 0px;
}

.post-container{
    background-color: var(--color-light);
    flex-grow: 1;
    margin: 10px;
    border-radius: 10px;

}

.post-container h3{
    color: var(--color-navy);
    font-size: 1.5rem;
    text-align: center;

    border-bottom: 1px solid var(--color-dark);
    margin: 10px 20px;
}

.post-container p{
    color: var(--color-dark);
    padding: 10px;
    
}

.post-actions{
    margin: 5px 20px;
    position: relative;

    border-top: 1px solid var(--color-dark);

    display: flex;
    align-items: center;
    padding: 5px 0px;

    color: var(--color-dark );

}

.post-actions img{
    width: 30px;
    height: 30px;

}

.author:hover, .post-actions img:hover{
    cursor: pointer;
    opacity: 0.3;
}

.comment{
    position: absolute;
    right: 0px;
}

.cover{
    width: 150px;
    height: 150px;
    border: 1px solid var(--color-dark);
}

.post h4, em{
    color: var(--color-dark);
    font-size: 0.8rem;
    text-align: center;

    margin: 5px 0px 0px;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review p{
    flex-grow: 1;
}

.review{
    padding: 10px;
    box-sizing: border-box;
}

.author{
    font-size: 0.7rem;
    color: var(--color-dark);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.send-comment{
    display: flex;
    margin: 5px 20px;
}

.comment-text{
    flex-grow: 1;
    border:none;
    text-align: center;
}

.confirm-comment{
    background-image: url("../images/svgicons/chat.svg");
    background-color: var(--color-coralhover);
    border: none;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 20px;
    height: 20px;
}

.confirm-comment:hover, .comment-container a:hover{
    cursor: pointer;
    opacity: 0.7;
}

.comment-list{
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

.comment-container{
    display: flex;
}

.comment-body{
    flex-grow: 1;
    padding: 5px;
}

.comment-body h6{
    margin: 5px;
    font-size: 1rem;
    color: var(--color-navy);
    border-top: 1px solid var(--color-dark);
}

.comment-body p{
    margin: 0px;
    font-size: 0.7rem;
    padding: 0px;
}

.comment-container a{
    display: block;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

@media(max-width: 700px){
    .post-container p{
        font-size: 0.7rem;
    }
}

@media(max-width: 500px){
    #show-posts{
        width: 100%;
    }

    .post-propic{
        height: 70px;
        width: 70px;
    }

    img.cover{
        width: 100px;
        height: 100px;
    }

    #post-info{
        font-size: 1rem;
    }
}

@media(max-width: 400px){
    .post-propic{
        height: 50px;
        width: 50px;
    }
    .post-container{
        margin: 10px 0px;
    }
    .post-container p{
        font-size: 0.5rem;
    }
}